cscope*
.gutctags
GTAGS
GRTAGS
GPATH
tags
*.tmp
*.o
*.cmd
*.ko
*.order
*.symvers
*.swp
**/.tmp_versions/**
bareflank.mod.c
**/out/**
**/obj/**
**/.vs/**
*.user
hypervisor/Debug
hypervisor/Release
hypervisor/x64
loader/Debug
loader/Release
loader/x64
linux_loader/Debug
linux_loader/Release
linux_loader/x64
windows_loader/Debug
windows_loader/Release
windows_loader/x64
uefi_loader/Debug
uefi_loader/Release
uefi_loader/x64
*.mod.c
environment/
compile_commands.json
.opengrok/
*.vim
.files
.cache/
