SUPPORTED_ARCHITECTURES := x86_64
SELECTED_ARCHITECTURE := x86_64
SSH_TARGET := user@192.168.171.136
SSH_PORT := 22
SSH_PASSWORD := password1
GDB_SERVER_ADDRESS := :1337
BUILD_DRIVERS := linux windows uefi
HYPERVISOR_WAIT_FOR_DEBUGGER := 0
LINUX_KERNEL := 4.18.0-15-generic
VISUAL_STUDIO_ROOT := /mnt/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2017/Community/VC/Tools/MSVC/14.16.27023
WINDOWS_KITS_ROOT := /mnt/c/Program\ Files\ \(x86\)/Windows\ Kits/10
WINDOWS_KITS_VERSION := 10.0.18362.0
EDK2_ROOT := /mnt/c/Temp/edk2-UDK2018
